# Virtual Environment
venv/
.venv/
__pycache__/
*.pyc

# Data & Storage (Crucial for CCBD projects)
data/raw/*
!data/raw/.gitkeep
!data/raw/patents/
data/raw/patents/*
!data/raw/patents/.gitkeep
!data/raw/pitch_decks/
data/raw/pitch_decks/*
!data/raw/pitch_decks/.gitkeep
!data/raw/repositories/
data/raw/repositories/*
!data/raw/repositories/.gitkeep
data/processed/*
!data/processed/.gitkeep
.env

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db
